@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap&subset=cyrillic');

@font-face {
  font-family: 'Bebas Neue Regular';
  src: url('./fonts/BebasNeueRegular.eot');
  src: url('./fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/BebasNeueRegular.woff') format('woff'),
    url('./fonts/BebasNeueRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Bold';
  src: url('./fonts/BebasNeueBold.eot');
  src: url('./fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/BebasNeueBold.woff') format('woff'),
    url('./fonts/BebasNeueBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('./fonts/MyriadPro-Regular.eot');
  src: url('./fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/MyriadPro-Regular.woff') format('woff'),
    url('./fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

/* Modal-cart*/

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2050;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: flex-start;
}

.modal-content {
  margin-top: 15vh;
  min-height: 20%;
  max-width: 700px;
  min-width: 200px;
  background-color: #fff;
  box-shadow: 1px 1px;
}

.modal-header {
  display: block;
  background-color: #358ea7;
}

.modal-header span {
  display: block;
  padding: 10px 0 5px 25px;
  color: #ffffff;
  font-size: 25px;
  font-family: "Bebas Neue Bold", sans-serif;
  font-weight: 400;
}

.modal-main {
  background-color: #dde6eb;
  padding: 25px;

}

.modal-main table {
  border-collapse: collapse;
}

thead tr {
  background-color: #dde6eb;
  border-bottom: 4px solid #dde6eb;
}

tr {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  background-color: #ffffff;
  border-bottom: 15px solid #dde6eb;
}

tr td:last-child {
  width: 50px;
  border-left: 1px solid #dde6eb;
}

tr td:last-child a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-left: 1px solid #dde6eb;
}

th {
  font-family: "Bebas Neue Regular", sans-serif;
  font-size: 15px;
  color: #afafaf;
}

td div img {
  margin: 0 10px;
}

tbody td input {
  width: 30px;
  border-radius: 15px;
  border: 1px solid #dde6eb;
  padding-left: 20px;
}

td a {
  cursor: pointer;
}

tbody td .selector a {
  text-decoration: none;
  display: block;
  width: 15px;
  height: 15px;
  background-size: cover;
  
}

.selector {
  position: relative;
}

.selector .delete {
  background-image: url('./img/minus.png');
  position: absolute;
  left: 2px;
}

.selector .add {
  background-image: url('./img/plus.png');
  position: absolute;
  right: 2px;
}

td {
  width: 200px;
  height: 50px;
}

td div {
  display: inline-flex;
  align-items: center;
}

td:first-child {
  width: 250px;
}

tfoot tr {
  font-family: "Bebas Neue Regular", sans-serif;
  font-size: 25px;
  line-height: 1;
  color: #afafaf;
  border-top: 45px solid #dde6eb;
}

tfoot tr td:first-child {
  text-align: center;
}

/* end modal-cart */

a {
  text-decoration: none;
}

html {
  font-size: 17px;
}

body {
  font-family: 'Bebas Neue Regular', sans-serif;
  max-width: 1280px;
  margin: auto;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.13);
}

header {
  border: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 82px;
  background-color: #ffffff;
}

.logo a {
  display: block;
}

.search {
  display: flex;
  position: relative;
  flex-basis: 30%;
}

.search input {
  min-width: 100px;
  padding-left: 5px;
  padding-right: 30px;
  height: 31px;
  width: 100%;
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
}

.search a {
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.cart a {
  display: inline-block;
  position: relative;
  top: 3px;
  right: 10px;
}

.cart span {
  margin-right: 10px;
  font-family: 'Bebas Neue Bold', sans-serif;
  color: #a1a1a1;
  font-size: 33px;
}

nav {
  background-color: #00a9d8;
}

#button-menu {
  display: none;
}

.menu {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.menu li {
  padding: 9px 0 5px 0;
}

.menu li:hover{
  background-color: #4cc3e4;
}

.menu a {
  display: block;
  color: #ffffff;
  font-size: 21px;
  padding: 0 19px;
  border-right: 1px solid #ffffff;
}

main {
  background-image: url('./img/bgi-main.png');
}

.slider1 .carousel {
  background: transparent;
  position: relative;
  width: 100%;
  height: 446px;
}

.carousel-inner {
  height: 100%;
}

.slider1, .carousel-inner, .carousel-caption {
  background: transparent;
}

.slider1 .carousel-item {
  background: transparent;
  display: none;
  height: 100%;
  width: 100%;
}

.slider1 .active {
  display: block;
}

.carousel-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.carousel-caption img {
  position: relative;
  right: 100px;
}

.carousel-content {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  color: #ffffff;
}

.carousel-content h3 {
  font-family: 'Bebas Neue Regular', sans-serif;
  font-size: 61px;
  font-weight: 400;
  margin-bottom: 5px;
  flex-basis: 50%;
}

.carousel-content p {
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 17px;
  line-height: 28px;
  margin-bottom: 23px;
}

.carousel-content button {
  font-family: "Bebas Neue Bold", sans-serif;
  font-size: 27px;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 8px;
  padding: 10px 22px 5px 22px;
  background-color: transparent;
  margin-bottom: 15px;
}

.carousel-indicators {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 35px;
}

.carousel-indicators li {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  display: block;
  background-color: #7bb4c0;
  margin: 0 7px;
}

.carousel-indicators .active {
  background-color: #ffffff;
}

.slider2 {
  height: 190px;
  background-color: #ffffff;
  padding: 0 10%;
}

.slick-prev, .slick-next {
  display: block;
  width: 29px;
  height: 88px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50px;
  cursor: pointer;
  background-color: #ffffff;
  border: 0;
}

.slick-prev {
  left: -100px;
  background-image: url(./img/prev.png);
}

.slick-next {
  right: -100px;
  background-image: url(./img/next.png);
}

.multiple-items, .slick-list, .slick-track {
  height: 100%;
}

.multiple-items .slick-slide {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slick-slide .watch {
  max-width: 33%;
}

.slick-slide h3 {
  color: #afafaf;
  font-family: "Bebas Neue Bold";
  font-size: 27px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 15px;
}

.multiple-items .watch button {
  color: #ffffff;
  font-family: "Bebas Neue Regular";
  font-size: 20px;
  font-weight: 400;
  background-color: #00a9d8;
  padding: 8px;
  padding-bottom: 4px;
  border-radius: 4px;
  border: none;
}

.products {
  width: 100%;
  background: transparent;
}

.products .header {
  background: transparent;
}

.products h2 {
  color: #ffffff;
  font-size: 31px;
  font-family: "Bebas Neue Bold", sans-serif;
  font-weight: 400;
  margin: 20px 0 14px 185px;
}

.products .cards {
  min-height: 670px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 50px 15% 50px 15%;
  justify-content: space-between;
  align-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 253px;
  width: 260px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-bottom: 5px solid #00a9d8;
  color: #afafaf;
  font-family: "Bebas Neue Bold";
  font-size: 27px;
  font-weight: 400;
}

.card h3 {
  margin-top: 25px;
  font-size: 27px;
  font-weight: 400;
  text-align: center;
}

.card .buy {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.card span {
  margin-top: 5px;
  margin-right: 7px;
}

.card button {
  color: #ffffff;
  font-family: "Bebas Neue Bold";
  font-size: 20px;
  font-weight: 400;
  background-color: #00a9d8;
  padding: 8px;
  padding-bottom: 4px;
  border-radius: 4px;
  border: none;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer nav {
  height: 335px;
  box-sizing: border-box;
  display: flex;
  background-color: #358ea7;
  padding: 50px 23% 50px 15%;
  justify-content: space-between;
}

footer nav h4 {
  color: #ffffff;
  font-family: "Bebas Neue Bold";
  font-size: 27px;
  font-weight: 400;
}

footer nav ul {
  list-style: none;
  margin-top: 15px;

}

footer nav a {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}

.copyright {
  background-color:#00a9d8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
}

.copyright span {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-weight: 400;
}

button[data-operation="buy"],
button[data-operation="show"] {
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .menu {
    display: none;
    flex-direction: column;
  }
  
  .show-menu {
    display: flex;
  }

  #button-menu {
    display: inline-block;
  }
  
  .menu a {
    border-right: none;
  }
  
  .carousel-caption img {
    display: none;
  }
  .slider2 {
    height: 3px;
    background-color: #ffffff;
  }
  .multiple-items {
    display: none;
  }
  .products .header {
    text-align: center;
  }
  .products .header h2 {
    margin-left: 0;
  }
}

@media screen and (max-width: 576px) {
  header {
    justify-content: space-around;
  }
  
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  footer nav {
    justify-content: space-around;
    padding-left: 0;
    padding-right: 0;
  }

  .for-men,
  .for-women {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .search,
  .cart {
    width: 100%;
  }

  .cart {
    text-align: center;
  }

  .carousel-caption {
    padding-right: 10px;
    padding-left: 10px;
  }
}